<ul class="sidebar-menu" data-widget="tree">
    <li class="header" style="font-size: 20px">Admin</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active" style="font-size: 20px"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="#"></i> <span>Home</span></a></li>
    <li class="active" style="font-size: 20px"><a asp-area="" asp-controller="Home" asp-action="UserList"><i class="#"></i> <span>User</span></a></li>
    <li class="active" style="font-size: 20px"><a asp-area="" asp-controller="Home" asp-action="BusScheduleAdm"><i class="#"></i> <span>Bus Schedule</span></a></li>
    <li class="active" style="font-size: 20px"><a asp-area="" asp-controller="Home" asp-action="DriverList"><i class="#"></i> <span>Drivers</span></a></li>
</ul>